body { 
	padding-top: 70px; 
}

#Projects img {
	width: 100%;
	height: 100%;
}

#Projects a h2 {
	position: absolute;
		text-decoration: none;

}

#Projects a{
	text-decoration: none;
}

.col-md-4 {
	margin-bottom: 5px;
}