body {
	background-image:url("photos/background.jpg");
}

nav li {
	display: inline;
	background-color: #106022;
	border-radius: 10px;
	padding: 4px;
}

nav {
	background-color: #80C18E;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

nav ul {
	margin: 0;
	text-align: center;
}

nav li a {
	text-decoration: none;
	font-family: 'Indie Flower';
	color: #80C18E;
	line-height: 50px;
}

#About {
	padding: 30px 0;
	height: 50vh;
}

#Projects {
	padding: 60px 0;	
	height: 50vh;
}

#ContactMe {
	padding: 30px 0;
	height: 50vh;
}

#AboutDiv {
	margin-top: 5%;
	margin-left: 25%;
	display: inline-block;
	background-color: #50A162;
	opacity: 0.8;
	border: 10px solid #00400E;
	border-radius: 20px;
	padding: 4px;
	text-align: center;
}

#ContactDiv {
	margin-top: 5%;
	margin-left: 40%;
	display: inline-block;
	background-color: #50A162;
	opacity: 0.8;
	border: 10px solid #00400E;
	border-radius: 20px;
	padding: 4px;
	text-align: center;
}

.row {
	width: 100%;
	margin: 0 auto;
}
.column {
	float: left;
	width:33.3%;
}

.column-inner {
	padding: 20px;
}
.column-inner img {
	width: 100%;
	height: 100%;
}

.divider {
	margin: 0 auto;
	width: 70%;
	height: 2px;
	background-color: black;
}

@media(max-width: 700px) {
	.column{
		width: 100%;
	}
}